{% extends 'personindex.html' %}


{% block detil %}

    <div><h4 class="text-center">{{ deatil.article.title }}</h4></div>

    <hr>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="postDesc">
                <span>作者：{{ userobj.nickname }}</span>
                <span>创建时间：{{ deatil.article.create_time |date:'Y-m-d H:m' }}</span>
                <hr>
            </div>
            <div>
                {{ deatil.content |safe }}
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                <div class="buryit pull-right">
                    <span class="burynum" id="bury_count">0</span>
                </div>
                <div class="diggit pull-right">
                    <span class="diggnum" id="digg_count">1</span>
                </div>
            </div>
            <span id="play_msg" class="pull-right"></span>

            <script>
                function clearerror() {

                    $('#play_msg').html('')
                }

                $('.diggit').click(function () {


                    var num = $(this).children().text();


                    $.ajax({
                        url: '/blog/upup',
                        type: 'post',
                        headers: {'X-CSRFToken': $.cookie('csrftoken')},

                        data: {'articel':{{ deatil.article.nid }}},
                        success: function (data) {
                            var data = JSON.parse(data);
                            if (data['is_login']){
                                alert(111);
                                if (data['flag']) {
                                var num = parseInt(num) + 1;
                                $('#digg_count').text(num);

                            }
                                $('#play_msg').html(data['msg']).css('color', 'red');
                                setTimeout(clearerror, 3000)
                            }
                            else {
                                alert(data['msg']);
                                location.href='/login/?next='+location.pathname
                            }


                        }
                    })

                })


            </script>

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body comment_tree">



        </div>

    </div>
    <script>
        $.ajax({
            url: '/blog/commentTree/{{ deatil.article.nid }}',
            success: function (data) {
                var commenttree = JSON.parse(data);
                var s = ShowCommentTree(commenttree);
{#                console.log(s);#}
                $('.comment_tree').append(s)
            }
        });

        function ShowCommentTree(comment_tree) {
            var html='';
            $.each(comment_tree,function (i,comment) {
                 html += ' <div class="media">' +
                '   <div class="media-left">' +
                '   <a href="/blog/'+comment['user__nickname']+'">' +
                '   <img heigth="32px" width="32px" class="media-object" src="/media/'+comment['user__avatar']+'">' +
                '   </a>' +
                '   </div>' +
                '   <div class="media-body">' +
                '   <div class="media-heading postDesc" style="color: #c49c38">'+comment['content']+'</div>' +comment['user__nickname']+
                '于'+comment['create_time']+'发布'+'<span id="comment_edit" class="icon-comment pull-right" comment_id="'+comment['nid']+'"' +
                     ' conmment_username="'+comment['user__nickname']+'">评论</span>'


                if(comment['children_comments']){
                 html+=ShowCommentTree(comment['children_comments'])
                 }

                html += '</div>' + '</div>'
            });
            return html

        }
    </script>

    <div class="panel panel-default">
        <div class="panel-body comment_list">
            {% for comment in comments %}

                <div>
                    <div>{{ comment.content }}</div>
                    <div class="pull-right postDesc" style="color: #c49c38">
                        {{ comment.user.nickname }}于{{ comment.create_time |date:'Y-m-d H:m' }}
                        <span id="comment_edit" class="icon-comment" comment_id="{{ comment.nid }}"
                              conmment_username="{{ comment.user.username }}">评论</span>
                    </div>
                    <hr style="margin: 15px 0">
                </div>


            {% endfor %}

        </div>

    </div>

    <div>

        <form action="">
            {#            {% csrf_token %}#}
            <div><textarea name="comment" id="edit" cols="60" rows="10"></textarea></div>
            <div><input type="button" value="提交评论" class="btn btn-info" id="comment_sub"></div>

        </form>
        <script>
            var parent_comment_id = null;
            var parent_comment_obj=null;
            //提交评论
            $('#comment_sub').click(function () {
                var content;
                if (parent_comment_id) {
                    var index = $('#edit').val().indexOf('\n');
                    content = $('#edit').val().slice(index + 1)
                } else {
                    content = $('#edit').val()
                }

                $.ajax({
                    url: '/blog/comment/',
                    type: 'post',
                    headers: {'X-CSRFToken': $.cookie('csrftoken')},
                    data: {

                        {#   csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),#}
                        'comment_context': content,
                        'article_id': '{{ deatil.article.nid }}',
                        'parent_comment_id': parent_comment_id
                    },
                    success: function (data) {
                        s = '<div><div>' + content + '</div> <div class="pull-right postDesc" style="color: #c49c38">{{ request.user.nickname }}于' + data['create_time'] + ' <span id="comment_edit" class="icon-comment" comment_id="' + data['comment_id'] + '" conmment_username="{{request.user.username}}">评论</span> </div> <hr style="margin: 15px 0"> </div>'
                        $(".comment_list").append(s);


                        tree_s=' <div class="media">'+' <div class="media-left"> <a href="/blog/{{request.user.nickname}}"> <img heigth="32px" width="32px" class="media-object" src="{{request.user.avatar.url }}"> </a> </div>'+
                            ' <div class="media-body"> <div class="media-heading postDesc" style="color: #c49c38">'+$('#edit').val()+'</div>{{request.user.nickname}}于'+data['create_time']+'发布<span id="comment_edit" class="icon-comment pull-right"'+
                            ' comment_id="'+data['comment_id']+'" conmment_username="{{request.user.nickname}}">评论</span></div></div>';

                        if (parent_comment_obj){
                            $(parent_comment_obj).parent().append(tree_s)
                        }else {
                            $('.comment_tree').append(tree_s)
                        }

{#                        $("[comment_id=parent_comment_id]").append(tree_s);#}
                        $('#edit').val('');
                        parent_comment_id = null;
                    }
                })
            });

            //获取回复的相关信息
            $('.comment_tree').on('click', '#comment_edit', function () {
                var parent_comment_username = $(this).attr('conmment_username');
                $('#edit').val('@' + parent_comment_username + '\n');
                parent_comment_id = $(this).attr('comment_id');
                $("#edit").focus();
                console.log(this);
                parent_comment_obj=this
            })

        </script>

    </div>

{% endblock detil %}