<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/jquery-cookie/jquery.cookie.js"></script>
    <!-- 引入封装了failback的接口--initGeetest -->
    <script src="http://static.geetest.com/static/tools/gt.js"></script>

</head>
<body>
<h1>请登录</h1>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form class="row">
            {% csrf_token %}
            <div class="form-group">
                <label for="Inputusername">用户名</label>
                <input type="text" class="form-control" id="Inputusername" placeholder="用户名" name="username">
            </div>
            <div class="form-group">
                <label for="InputPassword">密码</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="密码" name="password">
            </div>
            <label for="exampleInputcode">验证码</label>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" id="exampleInputcode" class="form-control" name="validCode">
                </div>
                <div class="validCode col-md-6"><img src="/get_validcode/" alt="" width="100px" height="40px"
                                                     class="valicode" onclick="refresh_check_code(this)">
                </div>
            </div>

            <div class="form-group row">
                <input type="button" value="登录" class="btn btn-primary col-md-2" id="subBtn">
                <a href="/register/"><input type="button" value="注册" class="btn btn-info col-md-offset-1  col-md-2"
                                            id="regBtn"></a>
            </div>
            <div class="form-group"><span class="error"></span></div>
            <div id="popup-captcha"></div>
        </form>


        <script>

            var handlerPopup = function (captchaObj) {
                $("#subBtn").click(function () {
                    captchaObj.show();
                });

                // 成功的回调
                captchaObj.onSuccess(function () {
                    var validate = captchaObj.getValidate();
                    $.ajax({
                        url: "/login/", // 进行二次验证
                        type: "post",
                        dataType: "json",
                        data: {
                            username: $('#Inputusername').val(),
                            password: $('#InputPassword').val(),
                            validCode: $('#exampleInputcode').val(),
                            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                            geetest_challenge: validate.geetest_challenge,
                            geetest_validate: validate.geetest_validate,
                            geetest_seccode: validate.geetest_seccode
                        },
                        success: function (data) {
{#                            var response=JSON.parse(data);#}
                            var response=data;
                            if (response['is_login']) {
                                if (location.search.slice(6)) {
                                    location.href = location.search.slice(6)
                                }
                                else {
                                    location.href = '/blog_home/'
                                }

                            }
                            else {
                                console.log(response['error_msg']);
                                $('.error').html(response['error_msg']).css('color', 'red')
                            }
                        }
                    });
                });

                // 将验证码加到id为captcha的元素里
                captchaObj.appendTo("#popup-captcha");
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            // 验证开始需要向网站主后台获取id，challenge，success（是否启用failback）
            $.ajax({
                url: "/pc-geetest/register?t=" + (new Date()).getTime(), // 加随机数防止缓存
                type: "get",
                dataType: "json",
                success: function (data) {
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                        gt: data.gt,
                        challenge: data.challenge,
                        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                        // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
                    }, handlerPopup);
                }
            });

            function refresh_check_code(code) {
                console.log(code.src);
                if (code.src === '/get_validcode/') {
                    console.log(1);
                    code.src += '?'
                } else {
                    console.log(2);

                    code.src = '/get_validcode/'
                }
                code.src += '?'
            }

        </script>
        <div>

            {#    <script>#}
            {##}
            {##}
            {##}
            {##}
            {#            function refresh_check_code(code) {#}
            {#                console.log(code.src);#}
            {#                if(code.src==='/get_validcode/'){#}
            {#                    console.log(1);#}
            {#                    code.src+='?'#}
            {#                }else {#}
            {#                    console.log(2);#}
            {##}
            {#                    code.src='/get_validcode/'#}
            {#                }#}
            {#                code.src+='?'#}
            {#            }#}
            {##}
            {##}
            {##}
            {#            $('#subBtn').click(function () {#}
            {#                var data=$('form').serialize()#}
            {#                $.post({#}
            {#                    url:'/login/',#}
            {#                    headers:{'X-CSRFToken':$.cookie('csrftoken')},#}
            {#                    data:data,#}
            {#                    success:function (data) {#}
            {##}
            {#                        var response=JSON.parse(data);#}
            {#                        if (response['is_login']){#}
            {#                            if (location.search.slice(6)){#}
            {#                                location.href=location.search.slice(6)#}
            {#                            }#}
            {#                            else {#}
            {#                                location.href='/blog_home/'#}
            {#                            }#}
            {##}
            {#                        }#}
            {#                        else {#}
            {#                            console.log(response['error_msg']);#}
            {#                            $('.error').html(response['error_msg']).css('color','red')#}
            {#                        }#}
            {##}
            {#                    }#}
            {#                });#}
            {##}
            {##}
            {#            })#}
            {#        </script> #}


        </div>

    </div>
</div>
</body>
</html>